
<div class="contents-wrapper">
  <div class="contents-container">
    <h1>アイデア新規登録</h1>
    <% form_with model: @idea, local: true do |form| %>
      <%= form.label :ideaname, "アイデア名" %>
      <%= form.text_field :ideaname, class: "idea-name" %>
      <%= form.label :description, "詳細" %>
      <%= form.text_area :description, class: "idea-description" , size: "30*10" %>
      <%= form.submit "新規登録" %>
    <% end %>
  </div>
