<% provide(:title, @idea.ideaname) %>
<section>
  <div class="contents-wrapper">
    <div class="contents-container">
      <%= form_with model: @idea, local: true do |f| %>
        <table>
          <th colspan="2" class="td-head"><h1>アイデア編集</h1></th>
          <tr>
            <td class="td-left"><%= f.label :image, 'アイデアイメージ' %></td>
            <td class="td-right td-image-container">
              <div class="image-container">
                <% if @idea.image.attached? %>
                  <%= image_tag @idea.image %>
                <% else %>
                  <img src="/assets/AdobeStock_210005036_Preview.jpeg">
                <% end %>
              </div>
            </td>
          </tr>
          <tr>
            <td class="td-left"><%= f.label :ideaname, "アイデア名" %></td>
            <td class="td-title"><%= f.text_field :ideaname,　value: @idea.ideaname, class: "idea-name input-box" %></td>
          </tr>
          <tr>
            <td class="td-left"><%= f.label :description, "詳細" %></td>
            <td> <%= f.text_area :description, value: @idea.description, class: "idea-description input-box" , size: "40*20" %></td>
          </tr>
          <tr>
            <td><% f.hidden_field :owner_id, value: current_user.id %></td>
          </tr>
          <tr>
            <td class="td-left">アイデア目的</td>
            <td>
              <div class="check-box">
                <%= f.collection_select(:classification_of_idea_id, @classification_of_ideas, :id, :idea_class)%>
              </div>
            </td>
          </tr>
          <tr>
            <td class="td-left"><%= f.label :skills, "募集スキル" %></td>
            <td class="td-right">
              <%= f.collection_check_boxes(:skill_ids, @skills, :id, :skillname, include_hidden: false, checked: @idea.skill_ids) do |b| %>
                <div class="check-box">
                <%= b.label { b.check_box + b.text } %>
                </div>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="td-left"><%= f.file_field :image %></td>
          </tr>
          <tr>
            <td colspan="2" class="td-left"><%= f.submit "更　新", class:"btn-box" %></td>
          </tr>
          <tr>
            <td colspan="2" class="td-left"><%= link_to "アイデア削除", idea_path(@idea.id), method: :delete, data: { confirm: 'マイアイデアを削除しますか？'}, class:"btn-box" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</section>
