<section id="idea-index">
  <div id="wrap">
    <% if @user.registered.nil? %>
      <div id="instruction-modal">
        <div id="instruction-of-picture">
          <p class="arrow-down"></p>
          <p>一番大きく表示されている絵は<b><big>最新</big></b>のアイデアです。</p>
        </div>
        <div id="instruction-classification">
          <p class="arrow-left"></p><p>アイデアの種類を示しています。</p>
        </div>
        <div id="classification-spot">
        </div>
        <div id="instruction-search-box">
          <p class="arrow-up"></p><p>検索はキーワードをホームページ上部の<b><big>検索ボックス</big></b>から検索できます。</p>
        </div>
        <div id="search-spot">
        </div>
        <div id="instruction-box">
          <h1>お気に入りの種を見つけよう</h1>
          <p>まずは、どのような<b><big>アイデア</big></b>があるか見てみましょう。</p>
          <div class="close-button-container">
            <%= form_with model: @user do |f| %>
              <%= f.hidden_field :registered, value: 1 %>
              <%= f.submit "早速始める", id:"close-button" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <% if @ideas.present? %>
      <% @ideas.each_with_index do |idea, i| %>
        <div class="item_container <%= i %>">
          <%= link_to idea_path(idea.id) do %>
          <h3 class="idea-class <%= idea.classification_of_idea_id%>">　<%= idea.ideaname %></h3>
          <div class="index-images">
            <% if idea.image.attached? %>
              <%= image_tag idea.image %>
            <% else %>
              <img src="/assets/AdobeStock_210644461_Preview.jpeg">
            <% end %>
          </div>
          <% end %>
          <div class="idea-description-modal">
            <%= link_to idea_path(idea.id) do %>
              <p class="idea-description"><%= idea.description%></p>
            <% end%>
          </div>
          <!--ログイン中ユーザによって既にいいねされていればtruth-->
          <% if current_user.present? %>
            <% if not current_user.id == idea.owner_id %>
              <div id="like-container-<%= idea.id %>">
                <%= render "ideas/index_shared/likes", idea: idea %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="no-result">
        <h1>該当するアイデアは見つかりませんでした</h1>
      </div>
    <% end %>
  </div>
</section>
