<% provide(:title, "アイデア新規登録") %>
<section>
  <div class="contents-wrapper">
    <div class="contents-container">
      <%= form_with model: Idea.create, local: true do |f| %>
        <table>
          <tr>
            <th colspan="2">
              <h1>アイデア新規登録</h1>
            </th>
          </tr>
          <tr>
            <td class="idea-new-first-column"><%= f.label :ideaname, "アイデア名" %></td>
            <td class="idea-new-second-column"><%= f.text_field :ideaname, class: "idea-name" %></td>
          </tr>
          <tr>
            <td class="idea-new-first-column">アイデア目的</td>
            <td colspan="3">
              <div class="check-box">
                <%= f.collection_select(:classification_of_idea_id, ClassificationOfIdea.all, :id, :idea_class)%>
              </div>
            </td>
          </tr>
          <tr>
            <td class="idea-new-first-column"><%= f.label :description, "詳細" %></td>
            <td><%= f.text_area :description, class: "idea-description" , size: "40*15" %></td>
          </tr>
          <tr>
            <%= f.hidden_field :owner_id, value: current_user.id %>
          </tr>
          <tr>
            <td class="idea-new-first-column">募集スキル等一覧</td>
            <td>
              <%= f.collection_check_boxes(:skill_ids, Skill.all, :id, :skillname, include_hidden: false) do |b| %>
                <div class="check-box">
                <%= b.label { b.check_box + b.text } %>
                </div>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="idea-new-first-column"><%= f.label :image, 'アイデアイメージ' %></td>
            <td><%= f.file_field :image %></td>
          </tr>
          <tr>
            <td colspan="2" class="td-left"><%= f.submit "新規登録", class:"btn-box" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</section>
