<% provide(:title, @idea.ideaname) %>
<section id="idea-show">
  <div class="contents-wrapper">
    <div class="contents-container">
      <table>
        <tr>
          <th colspan="2"><h1>アイデア詳細</h1></th>
        </tr>
        <tr>
          <th colspan="2"><h1>アイデア提案者</h1></th>
        </tr>
        <tr>
          <th colspan="2" class="show-name-link"><h1><%= link_to "#{@user.name}", user_path(@user.id) %></h1></th>
        </tr>
        <tr>
          <td class="td-left">アイデアイメージ</td>
          <td  class="td-image-container">
            <div class="image-container">
              <% if @idea.image.attached? %>
                <%= image_tag @idea.image %>
                <% else %>
                <img src="/assets/AdobeStock_210005036_Preview.jpeg">
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td class="td-left"><p>アイデア名</p></td>
          <td class="td-right"><%= @idea.ideaname %></td>
        </tr>
        <tr>
          <% if @classification_of_idea.present? %>
            <td class="td-left"><p>募集目的</p></td>
            <td class="td-title"><%= @classification_of_idea.idea_class %></td>
          <% end %>
        </tr>

        <tr>
          <td class="td-left">アイデア紹介</td>
          <td class="td-right"><%= @idea.description %></td>
        </tr>
        <tr>
          <td class="td-left">募集スキル</td>
          <td class="td-right">
            <% @skills.each do |skill| %>
              <div class="check-box">
                <%= skill.skillname %>
              </div>
            <% end %>
          </td>
        </tr>
        <% if not current_user.id == @idea.owner_id %>
          <tr>
            <td colspan="2">
              <div class="td-left">
                <%= link_to "フォローする", follow_idea_path, method: :post, class:"btn-box" %>
              </div>
            </td>
          </tr>
        <% else %>
          <tr>
            <td colspan="2">
              <div class="td-left">
                <%= link_to "編集する", edit_idea_path(@idea.id), class:"btn-box" %>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
</section>
