<% provide(:title, "トップページ") %>
<section id="idea-toppage">

  <div class="main-contents-wrapper">
    <div id="theme-container" class="scroll-animation">
     <h1 class="main-title">-SEEDS- </h1>
     <h2 class="main-copy ">アイデアの種を撒き、仲間と共に、大きく育てよう</h2>
     <div class="top-main-image-container">
       <img src="/assets/joshua-lanzarini-Vct0oBHNmv4-unsplash.jpg" alt="seeds">
     </div>
    </div>

    <div id="feature-contaienr" class="scroll-animation">
      <div class="top-feature-descrption-contaienr">
        <h1>自分の中に眠っている種を撒こう</h1>
          <p>世の中に出回る良いアイデアはほんの一握りです。</p>
          <p><b><big>"普通の人"</big></b>であっても芽吹けば大きく育つ可能性のある種（アイデア）をもっているハズ</p>
          <p>でも種を蒔かなければ芽はでません</p>
          <p>その種も一人で芽吹き、育つのは難しいでしょう</p>
          <p>豊かな<b><big>土、水、太陽</big></b>が揃って大きく育つのです。</p>
          <p>そんな、まだ芽吹いていない種が芽吹く<b><big>土壌</big></b>がここにあります</p>
          <p>多くの人とアイデアを共有して立派な木を育てましょう！</p>
      </div>
      <div class="top-feature-image-container fromleft">
        <img src="/assets/gabriel-jimenez-jin4W1HqgL4-unsplash.jpg" alt="soil">
      </div>
    </div>

     <div id="how-to-start" class="scroll-animation">
       <div class="first-step-conatainer" >
         <h1>お気に入りの種を見つけよう</h1>
         <p>まずは、どのような<b><big>アイデア</big></b>があるのか見てみましょう。</p>
         <p>キーワード検索で気になるキーワードを入れて調べてみましょう</p>
         <p>きっとお気に入りが見つかるハズです。</p>
       </div>
       <div class="how-to-start-image-container">
         <img src="/assets/maddi-bazzocco-UhrHTmVBzzE-unsplash.jpg" alt="">
       </div>
     </div>

     <div id="how-to-launch" class="scroll-animation">
       <div class="how-to-launch-image-container">
         <img src="/assets/jessica-delp-__VuwL8Tano-unsplash.jpg" alt="watering">
       </div>
       <div class="second-step-conatainer scroll-animation">
         <h1>自分の種を播こう</h1>
         <p>自分のオリジナルのアイデアを投稿することができます。</p>
         <p>イメージ写真もつけることができるので、魅力的なイメージ写真をつけましょう</p>
         <p>アイデアを具現化するのに、何が必要か明示すると仲間も見つかり易くなります</p>
       </div>
     </div>

     <div id="how-to-realize" class="scroll-animation">
       <div class="how-to-realize-image-container">
         <img src="/assets/markus-winkler-ypOsSfRgKZ4-unsplash.jpg" alt="watering">
       </div>
       <div class="third-step-container scroll-animation">
         <h1>育てよう</h1>
         <p>気に入ったアイデアはフォローすることができます。</p>
         <p>フォローするとアイデアの主に自動的にフォローしたことを知らせることができます。</p>
         <p>自分のアイデアのフォロワーとも連絡をとってみましょう。</p>
       </div>
     </div>
    </div>
</section>

<% if not current_user %>
  <div class="login-modal-wrapper">
    <div id="sign-up-container-modal">
      <h1>さあ種を播こう！</h1>
      <div class="top-link-container">
        <div class="link-container">
          <ul>
            <%= link_to new_user_path do%>
              <li class="top-sign-up">SIGN UP</li>
              <li><p>アカウントをお持ちでない方はこちらから</p></li>
            <% end %>
          </ul>
        </div>
        <div class="link-container">
          <ul>
            <%= link_to login_path do %>
              <li class="top-login">LOG IN</li>
              <li><p>アカウントをお持ちの方はこちらから</p></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
