<% provide(:title, "ログイン") %>
<div class="session-container">
  <div class="session-contents-wrapper">
    <%= form_with scope: :session, local: true do |f| %>
    <table>
      <tr>
        <th colspan="2"><h1>ログイン</h1></th>
      </tr>
      <tr>
        <td class="session-first-column"><%= f.label :mail, 'メールアドレス' %></td>
        <td class="session-second-column"><%= f.text_field :mail, class:"input-box" %></td>
      </tr>
      <tr>
        <td class="session-first-column"><%= f.label :password, 'パスワード' %></td>
        <td class="session-second-column"><%= f.password_field :password ,class:"input-box"%></td>
      </tr>
      <tr>
        <td colspan="2" class="log-in-column"><%= f.submit 'ログイン' ,class:"btn-box"%></td>
      </tr>
    <% end %>
    <%= form_with scope: :session, local: true do |f| %>
        <tr>
          <%= f.hidden_field :mail, value: "testuser-3@gmail.com" %>
          <%= f.hidden_field :password, value:"testuser@@" %>
          <td colspan="2" class="log-in-column"><%= f.submit 'ゲストログイン', class:"btn-box"%></td>
        </tr>
    <% end %>
    </table>
  </div>
</div>
