<% provide(:title, @user.name) %>
<section id="user-show">
  <div class="user-show-container">
    <%= form_with model: @user, local: true do |f| %>
      <table>
        <tr>
          <th colspan="2">
            <div class="user-show-title-container">
              <h1>プロフィール編集</h1>
            </div>
          </th>
        </tr>
        <div class="user-edit-form-container">
          <tr>
            <td class="td-left"><%= f.label :name, "名前"%></td>
            <td class="td-right"> <%= f.text_field :name, value: @user.name, size: 30 ,class:"input-box" %></td>
          </tr>
          <tr>
            <td class="td-left"><%= f.label :mail, "メールアドレス" %></td>
            <td class="td-right"><%= f.text_field :mail, value: @user.mail, size: 30 ,class:"input-box" %></td>
          </tr>
          <tr>
            <td class="td-left">スキル</td>
            <td class="td-right">
              <%= f.collection_check_boxes(:skill_ids, @skills, :id, :skillname, include_hidden: false) do |b| %>
                <div class="check-box">
                <%= b.label { b.check_box + b.text } %>
                </div>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="td-left">自己紹介</td>
            <td class="td-right">
               <%= f.text_field :introduction, value: @user.introduction, size: 100 ,class:"input-box" %>
            </td>
          </tr>
          <tr>
            <td class="td-left"><%= f.label :avatar, 'アバター' %></td>
            <td class="td-right"><%= f.file_field :avatar %></td>
          </tr>
          <%= f.hidden_field :registered, value: 2 %>
          <tr>
            <td colspan="2" class="td-left"><%= f.submit "更新", class:"btn-box" %></td>
          </tr>
        </div>
      </table>
    <% end %>
  </div>
</section>
