<% provide(:title, "新規登録") %>
<section id="user-new">
  <div class="user-new-container">
    <div class="user-new-wrapper">
      <% if @user.errors.any? %>
        <div class="alert alert-warning">
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_with model: User.create, local: true do |f| %>
        <table>
          <tr>
            <th colspan="2">
              <div class="user-new-title-container">
                <h1>新規登録</h1>
              </div>
            </th>
          </tr>
          <tr>
            <td class="user-new-first-column"><%= f.label :name, "名前" %></td>
            <td class="user-new-second-column"><%= f.text_field :name, class: "input-box" %></td>
          </tr>
          <tr>
            <td class="user-new-first-column"><%= f.label :mail, "メールアドレス" %></td>
            <td class="user-new-second-column"><%= f.email_field :mail, class: "input-box" %></td>
          </tr>
          <tr>
            <td class="user-new-first-column"><%= f.label :password, "パスワード(１０文字以上)" %></td>
            <td class="user-new-second-column"><%= f.password_field :password, class: "input-box" %></td>
          </tr>
          <tr>
            <td class="user-new-first-column"><%= f.label :password_confirmation, "パスワード（確認用）" %></td>
            <td class="user-new-second-column"><%= f.password_field :password_confirmation, class: "input-box" %></td>
          </tr>
          <tr>
            <td class="user-new-first-column"><%= f.label :avatar, 'アバター' %></td>
            <td class="user-new-second-column"><%= f.file_field :avatar %></td>
          </tr>
          <tr>
            <td colspan="2" class="sign-up-column"><%= f.submit "新規登録", class:"btn-box" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</section>
