<% provide(:title, current_user.name) %>
<section id="user-show">
  <div class="user-show-contents-container">
    <table>
      <% if @user.id == current_user.id %>
        <tr>
          <th colspan="4"><h1>マイ　アカウント</h1></th>
        </tr>
      <% else %>
        <tr>
          <th colspan="4"><h1><%= @user.name %>のアカウント</h1></th>
        </tr>
      <% end %>
      <tr>
        <td colspan="4">
          <div class="td-image-container">
            <div class="image-container-avatar">
              <% if @user.avatar.attached? %>
                <%= image_tag @user.avatar %>
              <% else %>
                <img src="/assets/AdobeStock_210005036_Preview.jpeg">
              <% end %>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2"><p>アカウント名</p></td>
        <td colspan="2"><%= @user.name %></td>
      </tr>
      <tr>
        <td colspan="2"><p>自己紹介</p></td>
        <td colspan="2"><%= @user.introduction %></td>
      </tr>
      <tr>
        <td colspan="2"><p>ユーザアドレス</p></td>
        <td colspan="2"><%= @user.mail %></td>
      </tr>
      <tr>
        <td colspan="4" class="td-left"><h1>ユーザーのアイデア</h1></td>
      </tr>
       <%= render "users/show_shared/show_myideas", my_ideas: @my_ideas, followers: @followers %>
       <%= render "users/show_shared/show_followings", followings: @followings, user: @user %>
       <%= render "users/show_shared/show_skills", skills: @skills %>
      <% if @user.id == current_user.id %>
        <tr>
          <td colspan="2"><%= link_to "アカウント編集", edit_user_path(current_user.id) , class:"btn-box"%></td>
          <td colspan="2"><%= link_to "アカウント削除", user_path(current_user.id), method: :delete, data: { confirm: 'アカウントを削除しますか？'}, class:"btn-box" %></td>
        </tr>
      <% end %>

    </table>
  </div>
</section>
