<div id="footer" class="copyRight clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-xs-12">
        <p>&copy; 2020-<%= Time.current.year %> Copyright SEED .</p>
      </div>
    </div>
  </div>
</div>
