<header>
  <div class="nav-bar">
    <div class="container">
      <div class="header-logo">
        <img src="/assets/pinterest_profile_image.png" alt="main logo">
      </div>
      <div class="header-search">
        <% if current_user %>
          <ul>
            <%= search_form_for @q, id: "search_form", class: "search-container" do |f| %>
            <li><% f.label :ideaname_cont %></li>
            <li><%= f.search_field :ideaname_cont, value:"", class:"search-window" %><%= f.submit "SEARCH", class: "search-btn" %><i class="fas fa-search"></i></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="header-users">
        <div class="header-users-hamburger">
          <ul>
            <li class="list"><%= link_to "ABOUT US", toppage_ideas_path, class:"header-list" %></li>
<!--アイデア一覧画面は、masonry-railsのgemをもって表示しているが、turbolinksの影響で遷移した際に正常に表示されない為,turbolinksをfalseにしている。-->
         <% if current_user %>
            <li class="list"><%= link_to "LAUNCH YOUR IDEA!", new_idea_path, class:"header-list" %></li>
            <li class="list"><%= link_to "IDEAS", ideas_path,data: {"turbolinks"=>false}, class:"header-list" %></li>
            <li class="list"><%= link_to "MY ACCOUNT", user_path(current_user.id) %></li>
            <li class="list"><%= link_to "LOGOUT", logout_path, method: :delete, class:"header-list" %></li>
          <% else %>
            <li><%= link_to "LOGIN", login_path, class:"header-list" %></li>
            <li><%= link_to "SIGN UP", new_user_path, class:"header-list" %></li>
          <% end %>
          </ul>
        </div>
      </div>
      <div id="open-nav" class="">
        <i class="fas fa-bars"></i>
      </div>
    </div>
    <div class="menu-container">
      <ul>
        <li id="close-nav">
            <i class="fas fa-times"></i>
        </li>
        <li class="list"><%= link_to "ABOUT US", toppage_ideas_path, class:"header-list" %></li>
        <% if current_user %>
          <li class="list"><%= link_to "LAUNCH YOUR IDEA!", new_idea_path, class:"header-list" %></li>
          <li class="list"><%= link_to "IDEAS", ideas_path,data: {"turbolinks"=>false}, class:"header-list" %></li>
          <li class="list"><%= link_to "MY ACCOUNT", user_path(current_user.id) %></li>
          <li class="list"><%= link_to "LOGOUT", logout_path, method: :delete, class:"header-list" %></li>
        <% else %>
          <li><%= link_to "IDEAS", ideas_path,data: {"turbolinks"=>false}, class:"header-list" %></li>
          <li><%= link_to "LOGIN", login_path, class:"header-list" %></li>
          <li><%= link_to "SIGN UP", new_user_path, class:"header-list" %></li>
        <% end %>
      </ul>
    </div>
  </div>


  <div class="flash-message-container">
    <% if flash[:notice] %>
      <div class="flash-notice">
        <%= flash[:notice] %>
      </div>
      <% end %>
  </div>
</header>
