  <% if idea.liked_by?(current_user.id) %>
  <!-- すでに「いいね」を押している場合 -->
    <%= link_to dislike_idea_path(idea.id), method: :delete, remote: true, class: "dislike" do %>
      <i class="fas fa-heart <%= idea.id %>"><span><%= idea.likes.count %>いいね</span></i>
    <% end %>
  <% else %>
  <!-- まだ「いいね」を押していない場合 -->
    <%= link_to like_idea_path(idea.id), method: :post, remote: true, class: "like" do %>
      <i class="far fa-heart <%= idea.id %>"><span><%= idea.likes.count %>いいね</span></i>
    <% end %>
  <% end %>
  <!-- farは空白のハート、fasはその逆 -->
