<tr>
  <td colspan="4" class="td-left"><p>保有スキル</p></td>
</tr>
<tr>
  <td colspan="4" class="td-left">
    <% skills.each do |skill| %>
      <div class="check-box">
        <%= skill.skillname %>
      </div>
    <% end %>
  </td>
</tr>
