<% my_ideas.each do |my_idea| %>
  <tr>
    <td><%= link_to idea_path(my_idea.id) do%>アイデア名<%end%></td>
    <td><%= my_idea.ideaname %></td>
    <td>いいね</td>
    <td><li class="far fa-heart" ></li><%= my_idea.likes.count %></td>
  </tr>
  <tr>
    <td colspan="2"><p>フォロワー</p></td>
    <td colspan="2">
      <% followers.each do |follower| %>
        <div class="check-box">
          <%= link_to "#{follower.name}のページへ", user_path(follower.id) %>
        </div>
      <% end %>
    </td>
  </tr>
<% end %>
