<tr>
  <td colspan="4" class="td-left"><h1>フォローしているアイデア</h1></td>
</tr>
<% current_user.joinings.each do |joining| %>
  <tr>
    <td class="user-show-first-column">
      <%= link_to idea_path(joining.idea.id) do %>
        <%= joining.idea.ideaname %>
      <% end %>
    </td>
    <td class="user-show-second-column">
      <div class="user-show-image-container">
        <%= link_to idea_path(joining.idea.id) do %>
          <% if joining.idea.image.attached? %>
            <%= image_tag joining.idea.image %>
          <% else %>
            <img src="/assets/AdobeStock_210005036_Preview.jpeg">
          <% end %>
        <% end %>
      </div>
    </td>
    <% if user.id == current_user.id %>
      <td class="user-show-third-column"><%= joining.idea.description %></td>
      <td class="user-show-fourth-column"><%= link_to "フォローを外す", unfollow_idea_path(joining.idea.id), method: :delete, remote: true, class: "follow-delete-btn" %></td>
    <% else %>
      <td colspan="2" class="user-show-third-column"><%= joining.idea.description %></td>
    <% end %>
  </tr>
<% end %>
