/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
*/

/* ========使用カラー=========== */

/* #f9e900 イメージカラー　*/
/* f5f5f5 バックグランドカラー　*/

/* =====サイト全体のフォント指定==== */

body {
font-family: "ヒラギノ丸ゴ　Pro W4","Hiragino Maru Gothic Pro" ;
}

/* ==============共通部分============= */

section {
  padding:150px 50px;
  background-color: #f5f5f5;
  min-height: calc(100vh - 30px);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color : inherit;
}

table{
  width:90%;
  background-color: snow;
  border-radius: 15px;
  border-collapse:collapse;
}

th{
  padding:10px 10px;
  border-bottom: 2px solid #dcdcdc;
  border-radius: 5px;
}

td{
  border-bottom: 2px solid #dcdcdc;
  border-right: 1px dashed #dcdcdc;
  border-radius: 5px;
  padding: 20px 20px;
}

.td-head{
  text-align: center;
  padding-bottom: 20px;
}

.td-left{
  text-align: center;
}

.td-right{
  width:70%;
}

.td-title{
  text-align: center;
}

.td-image-container{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


ul {
  list-style: none;
}

header{
  width:100%;
  position:fixed;
  z-index:90;
}

.btn-box{
  border-style: outset;
  background-color:#dcdcdc;
  border-radius:4px;
  padding:5px 15px 5px 15px;
}

.input-box{
  border:1px solid grey;
  border-radius: 3px;
  padding:5px 15px 5px 15px;
}

.contents-wrapper {
  display:flex;
  justify-content:center;
  padding-top:100px;
  margin: 0 auto;
  width:80%;
}

.contents-container{
  display: flex;
  justify-content: center;
  width:80%;
}

/* ================ HEADER ================ */


.header-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
  width:100px;
}

.header-logo img{
  height:80px;
  width:80px;
  border-radius: 50px;
}
 .nav-bar{
   display:flex;
   justify-content: space-between;
   align-items: center;
   height:100px;
   width:100%;
   background-color: #ffcc00;
 }

.container{
  width:100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.header-search{
  width:20%;
}

.search-window{
  border-radius: 5px;
  border-bottom: 1px solid #ff4500;
  transition-duration: 0.5s;
}

.search-window:hover{
  background-color:#f5f5f5;
  border-bottom: 3px solid #ff4500;
}

.search-btn{
  width:70px;
  color:white;
}

.header-users{
  width:60%;
}

.header-users-hamburger{
  display: block;
  padding-top:10px;
}

.header-users-hamburger ul{
  display: flex;
  justify-content: space-around;
}

.header-users-hamburger li:hover{
  opacity: 40%;
}

.header-users-hamburger li::after{
  content:'';
  display: block;
  width:0;
  border-bottom: 1px solid red;
  /* transition: 0.3s ease-in-out; */
}

.header-users-hamburger li:hover::after{
  width:100%;
  transition: 0.3s ease-in-out;
}

.flash-notice{
  text-align: center;
  line-height: 30px;
  color:yellow;
  height:30px;
  background-color: red;
}

.menu-container{
  display: inline-block;
  border: 2px solid blue;
  margin-top: 160px;
  margin-right: -600px;
  margin-top: 160px;
  padding-top: 20px;
  padding-right: 5px;
  border-radius: 5px;
  height:300px;
  background-color:black;
  color:white;
  opacity:0.9;
}

#open-nav{
  display: none;
}

#close-nav{
  display: none;
}

/* ============== FOOTER ================ */

#footer{
  height:30px;
  background-color: #ffcc00;
}

/* ============= Responsive ============== */
@media (max-width: 600px) {

  .header-search{
    margin-left: 50px;
  }

  .header-users{
    display: flex;
    justify-content: flex-end;
    height:400px;
  }

  #open-nav{
    display: block;
    margin-right: 40px;
  }

  #open-nav .fa-bars:hover{
    cursor: pointer;
    opacity:0.4;
    transition: 0.3s;
   }

  #close-nav{
    display: block;
  }

  #close-nav .fa-times:hover{
    cursor: pointer;
    opacity:0.4;
    transition: 0.3s;
  }

  .fa-times{
    color:white;
  }

  .show{
    margin-right: 10px;
    display: block;

  }

  .header-users-hamburger{
    display:none;
  }

  .menu-container{
    transition: all 1s ease;
  }

  .menu-container ul{
    display:flex;
    text-align: right;
    line-height: 40px;
    flex-direction: column;
  }

  .menu-container li:hover{
    opacity:0.5;
    transition:0.3;
  }
  .item_big{
    width: 400px;
  }

  .item_middle{
    width: 200px;
  }

  .item-small{
    width: 200px;
  }

  .item-small img {
    width:180px;
  }

  .item_container p{
    font-size: 10px;
  }
}


/* =============Animation ===============*/

@keyframes likesAnimation {
  0% {
    transform:scale(0.2);
  }

  25% {
    transform:scale(0.4);
  }

  50% {
    transform:scale(0.7);
  }

  75% {
    transform:scale(1.5);
  }

  100% {
    transform:scale(1);
  }
}

.likesAnimation{
  animation: likesAnimation 0.3s;
}


@keyframes dislikesAnimation {
  0% {
    transform:scale(1);
  }

  25% {
    transform:scale(1.2);
  }

  50% {
    transform:scale(0.7);
  }

  75% {
    transform:scale(0.3);
  }

  100% {
    transform:scale(0);
  }
}

.dislikesAnimation{
  animation: dislikesAnimation 0.3s;
}
