// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// edit, showで表示される共通の画像の表示サイズ
.image-container{
  width:200px;
  height:200px;
}

.image-container img{
  width:100%;
  height:100%;
}

// ================ idea-toppage ================//

.main-contents-wrapper{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.main-contents-wrapper p{
  font-size: 18px;
}


#theme-container{
  position: relative;
  margin: 100px 100px;
  .main-copy{
    height:550px;
    width:90%;
    object-fit: cover;
    position: absolute;
    top:23%;
    left:8%;
    color:white;
  }
  .top-main-image-container img{
    height: 550px;
    width:70%;
    object-fit: cover;
    border-radius: 5px;
  }
}

#feature-contaienr{
  position: relative;
  margin: 100px 100px;
  .top-feature-descrption-contaienr{
    position: absolute;
    top:17%;
    left:9%;
    color:white;
  }
  .top-feature-image-container img{
    height: 550px;
    width:90%;
    object-fit: cover;
    border-radius: 5px;
  }
}

#how-to-start {
  position: relative;
  margin: 100px 100px;
  .first-step-conatainer{
    position: absolute;
    top:17%;
    left:21%;
    color: black;
    background-color: white;
    opacity: 0.9;
  }
  .how-to-start-image-container img{
    height: 550px;
    width:90%;
    object-fit: cover;
    border-radius: 5px;
  }
}

#how-to-launch{
  position: relative;
  margin: 100px 100px;
  .second-step-conatainer{
    position: absolute;
    top:17%;
    left:12%;
    color: white;
  }
  .how-to-launch-image-container img{
    height: 550px;
    width:90%;
    object-fit: cover;
    border-radius: 5px;
  }
}

#how-to-realize{
  position: relative;
  .third-step-container{
    position: absolute;
    top:17%;
    left:12%;
    color: black;
  }
  .how-to-realize-image-container img{
    height: 550px;
    width:90%;
    object-fit: cover;
    border-radius: 5px;
  }
}


p {
  line-height: 30px;
}

.login-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display:none;
}

 #sign-up-container-modal {
  position: absolute;
  top: 20%;
  left: 25%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 50%;
  height: auto;
  text-align: center;
}

.top-link-container{
  display:flex;
  justify-content: space-around;
  margin-top: 30px;

  .link-container{
    display: inline-block;
    background-color: #ffcc00;
    border-radius: 5px;
    padding:10pt;
  }

  .link-container:hover{
    transform:scale(1.1);
    opacity:0.3;
    transition: 0.6s;
  }
}

.top-link-container p{
  font-size: 8px;
}


// ================ Idea-INDEX ================//

#wrap {
  width: 90%;
  margin: 0 auto;
}

#instruction-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display:none;
}

#instruction-of-picture{
  display: flex;
  align-items: center;
  height:50px;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  top:45%;
  left:10%;
  background-color: white;
  opacity: 0.5;
  #instruction-of-picture p{
    display: inline-block;
  }
  .arrow-down{
    animation: down-arrow 1s infinite;
    margin-right: 10px;
  }
  .arrow-down::before{
    font-size: 40px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0ab";
    color:red;
  }
}


#instruction-classification{
  display: flex;
  align-items: center;
  height:50px;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  top:21%;
  left:15%;
  background-color: white;
  opacity: 0.7;
  #instruction-classification p{
    display: inline-block;
  }
  .arrow-left{
    animation: left-arrow 1s infinite;
    margin-right: 10px;
  }
  .arrow-left::before{
    font-size: 40px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0a8";
    color:red;
  }
}

#classification-spot{
  position: absolute;
  border-radius: 25px;
  top:21%;
  left:11%;
  height:50px;
  width:50px;
  background-color: white;
  opacity: 0.3;
  animation: emphasis 1s infinite;
}

#instruction-search-box{
  display: flex;
  align-items: center;
  height:50px;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  top:10%;
  left:13%;
  background-color: white;
  opacity: 0.5;
  #instruction-search-box p{
    display: inline-block;
  }
  .arrow-up{
    animation: down-arrow 1s infinite;
    margin-right: 10px;
  }
  .arrow-up::before{
    font-size: 40px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0aa";
    color:red;
  }
}

#search-spot{
  position: absolute;
  border-radius: 5px;
  top:3%;
  left:13%;
  height:45px;
  width:300px;
  background-color: white;
  opacity: 0.3;
  animation: emphasis 1s infinite;
}

#instruction-box{
  padding: 10px;
  line-height: 40px;
  position: absolute;
  top: 20%;
  left: 60%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 30%;
  height: auto;
  text-align: center;
  .close-button-container{
    margin:0 auto;
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: #ffcc00;
    width:40%;
  }
  .close-button-container:hover{
    transform:scale(1.1);
    opacity:0.6;
    transition: 0.6s;
  }
}

.item_container{
  position: relative;
  margin-top:10px;
  border-radius: 10px;
  background-color: snow;
  padding:10px;
  width: 200px;

  .idea-class{
    text-indent: 5%;
    color:black;
  }
  .index-images:hover{
    opacity:0.5;
    transition:1s;
  }
  .index-images img{
    width: 100%;
  }
  .idea-description-modal{
    position: absolute;
    border-radius: 5px;
    top: 10%;
    left: 20%;
    z-index: 50;
    display: none;
  }
  .idea-description{
    border-radius: 5px;
    height:200px;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: grey;
    color: white;
    opacity:0.8;
    padding: 5px;
  }
}

.fas.fa-heart{
  color:red;
}
.far.fa-heart{
  color:red;
}

// アイデアのサイズを大中小でそれぞれ定義
.item_big{
  width: 820px;
}

.item_middle{
  width: 410px;
}

.item_small{
  width: 205;
}

//====アイデアの区分に対応するアイコン======//
.fund::before{
  font-size: 30px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f53a";
  color:red;
}

.event::before{
  font-size: 30px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f79f";
  color:red;
}

.business::before{
  font-size: 30px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f508";
  color:red;
}
.creative::before{
  font-size: 30px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f6e3";
  color:red;
}

.idea::before{
  font-size: 30px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f53a";
  color:red;
}

.volunteer::before{
  font-size: 30px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f4c4";
  color:red;
}

.no-result{
  width:100%;
  color: red;
  text-align: center;
}

.show-name-link:hover{
  opacity: 0.7;
}

//================ Idea#NEW ================//

.idea-new-first-column{
  width:30%;
  text-align: center;
}

.idea-new-second-column{
  width:70%;
}

//================ Idea#EDIT ================//

.check-box{
  display:inline-block;
  padding:5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #f7f5ea;
}

.contents-container img{
  width:100%;
}

// Idea#SHOW //


/* =============Responsive ===============*/

@media (max-width: 600px){

  .arrow-up::before{
    font-size: 30px;
  }
  .arrow-down::before{
    font-size: 30px;
  }
  .arrow-left::before{
    font-size: 30px;
  }
  #instruction-box{
    padding: 10px;
    line-height: 40px;
    position: absolute;
    top: 70%;
    left: 10%;
    width: 80%;
  }

  #instruction-search-box{
    height:auto;
    width:70%;
    padding: 10px;
    top:13%;
    left:13%;
  }
  #search-spot{
    width:33%;
    top:5%;
    left:25%;
  }

  #instruction-classification{
    top:30%;
    left:20%;
  }

  #instruction-of-picture{
    width:70%;
    height: auto;
    top:45%;
    left:10%;
    background-color: white;
    opacity: 0.5;
  }



}



/* =============Animation ===============*/

@keyframes down-arrow {
  0% {
    transform:translateY(5px);
  }
  25% {
    transform:translateY(2px);
  }
  50%  {
    transform:translateY(1px);
  }
  75% {
    transform:translateY(3px);
  }
  100% {
    transform:translateY(6px);
  }
}


@keyframes left-arrow {
  0% {
    transform:translateX(5px);
  }
  25% {
    transform:translateX(2px);
  }
  50%  {
    transform:translateX(1px);
  }
  75% {
    transform:translateX(3px);
  }
  100% {
    transform:translateX(6px);
  }
}

@keyframes emphasis{
  0%{
    transform:scale(1);
  }
  50%  {
    transform:scale(1.02);
  }
  100%{
    transform:scale(1);
  }
}
