@media (max-width: 600px) {

  .header-users-hamburger{
    display:none;
    border:2px solid red;
  }

  .item_big{
    width: 400px;
  }

  .item_middle{
    width: 200px;
  }

  .item-small{
    width: 200px;
  }

  .item-small img {
  width:180px;

  }

  .item_container p{
      font-size: 10px;
  }

  .menu-container{
    display: block;
    width:100%;
    background-color: blue;
    opacity:0.5;
  }

  .menu-container ul{
    display:flex;
    flex-direction: column;
  }

}
