// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-container{
  width:100%;
  height:700px;
  padding-top: 200px;
  display: flex;
  justify-content: center;
}

.session-contents-wrapper{
  width:50%;
  display: flex;
  flex-direction: column;
}

.session-first-column{
  width:40%;
  text-align: center;
}

.session-second-column{
  width:60%;
  text-align: center;
}

.log-in-column{
  text-align: center;
}
