// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ================ User#NEW ================//
.user-new-container{
  display: flex;
  justify-content: center;
}

.user-new-wrapper{
  display: flex;
  flex-direction: column;
}

.alert-warning{
  color:red;
}

.user-new-title-container{
  text-align: center;
}

.user-new-first-column{
  width:40%;
  text-align: center;
}

.user-new-second-column{
  width:60%;
  text-align: center;
}

.sign-up-column{
  text-align: center;
}

//=============== User#SHOW ================//

.user-show-contents-container{
  text-align: center;
  display: flex;
  justify-content: center;
}

.image-container-avatar{
  width:200px;
  height:200px;
}

.image-container-avatar img{
  width:100%;
  height:100%;
}

//====== User-#SHOW followings=======//
.user-show-first-column{
  width:20%;
}

.user-show-second-column{
  width:20%;
}

.user-show-third-column{
  width:20%;
}

.user-show-fourth-column{
  width:40%;
}

.user-show-image-container{
  width:100%;
  display: flex;
  justify-content: center;
}

.user-show-image-container:hover{
  opacity:0.5;
  transition-duration: 0.5s;
}

.user-show-image-container img{
  width:60%;
}
