<div class="menu-container">
  <ul>
    <li class="list"><%= link_to "ABOUT US", toppage_ideas_path, class:"header-list" %></li>
    <% if current_user %>
    <li class="list"><%= link_to "LAUNCH YOUR IDEA!", new_idea_path, class:"header-list" %></li>
    <li class="list"><%= link_to "IDEAS", ideas_path,data: {"turbolinks"=>false}, class:"header-list" %></li>
    <li class="list"><%= link_to "MY ACCOUNT", user_path(current_user.id) %></li>
    <li class="list"><%= link_to "LOGOUT", logout_path, method: :delete, class:"header-list" %></li>
    <% else %>
    <li><%= link_to "IDEAS", ideas_path,data: {"turbolinks"=>false}, class:"header-list" %></li>
    <li><%= link_to "LOGIN", login_path, class:"header-list" %></li>
    <li><%= link_to "SIGN UP", new_user_path, class:"header-list" %></li>
    <li><a href="#"><img src="" alt="account symbol"></a></li>
    <% end %>
  </ul>
</div>
